<h1>Formateurs</h1>

<div class="former-container">
    <nz-card style="width:300px;" [nzCover]="coverTemplate" [nzActions]="[actionDelete, actionEdit]"
        *ngFor="let former of formers">
        <nz-card-meta nzTitle="#{{former?.id }} {{former.name}} {{former.surname}}"
            nzDescription="{{former.session.name}}" [nzAvatar]="avatarTemplate">
        </nz-card-meta>
    </nz-card>
    <ng-template #avatarTemplate>
        <nz-avatar nzIcon="user" style="background-color:#87d068;"></nz-avatar>
    </ng-template>
    <ng-template #coverTemplate>
        <img alt="example" src="assets/img/formateur.jpg" style="width: 100%;" />
    </ng-template>
    <ng-template #actionDelete>
        <i nz-icon nzType="delete"></i>
    </ng-template>
    <ng-template #actionEdit>
        <a routerLink="/former-edit/{{former?.id}}">
            <i nz-icon nzType="edit"></i>
        </a>
    </ng-template>
</div>
<button class="button-add" nz-button nzType="primary" nzShape="circle"><i nz-icon nzType="appstore-add"
        nzTheme="outline" (click)="submitForm()"><a class="button-add" routerLink="/former-edit"></a></i></button>