<div class="login-container">
    <div class="login-form-header">
        <img src="/assets/img/iconGestionFormation.png" alt="logo" width="100px">
        <h1>GestionFormation</h1>
        <h3>Wendy.Maïa.Karima.Virginie</h3>
    </div>
    <div class="login-form-container">
        <h2>Authentication</h2>
        <form nz-form [formGroup]="loginForm" class="login-form" (ngSubmit)="onSubmit()">
            <nz-form-item>
                <nz-form-control nzErrorTip="S'il vous plaît entrer un nom valide !">
                    <nz-input-group nzPrefixIcon="user">
                        <input type="text" nz-input  formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }"/>
                    </nz-input-group>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-control nzErrorTip="S'il vous plaît entrer un mot de passe valide !">
                    <nz-input-group nzPrefixIcon="lock">
                        <input type="password" nz-input formControlName="password" placeholder="Password" />
                    </nz-input-group>
                </nz-form-control>
            </nz-form-item>
       
        <div  class="login-button-submit">
            <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'"
                >Connexion</button>
        </div>
    </form>
    </div>
</div>