.login-form {
  width: 50%;
}

.login-form-margin {
  margin-bottom: 16px;
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 20%;
}

.login-form-container {
  display: flex;
  justify-content: center;
}

.login-button-submit {
  display: flex;
  justify-content: center;
}

.login-form-header {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

:host ::ng-deep .ant-alert,
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: white !important;
}

:host ::ng-deep .ant-btn-primary {
  background: linear-gradient(90deg, #e22a6f 0%, #fe6666 100%), #222222;
  border-color: palevioletred;
}
