<div class="login-form-header">
    <img src="/assets/img/iconGestionFormation.png" alt="logo" width="100px">
    <h1>GestionFormation</h1>
    <h3>Wendy.Maïa.Karima.Virginie</h3>
</div>
<div class="login-form-container">
    <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
        <nz-form-item>
            <nz-form-control nzErrorTip="S'il vous plaît entrer un nom valide !">
                <nz-input-group nzPrefixIcon="user">
                    <input type="text" nz-input formControlName="userName" placeholder="Username" />
                </nz-input-group>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-control nzErrorTip="S'il vous plaît entrer un mot de passe valide !">
                <nz-input-group nzPrefixIcon="lock">
                    <input type="password" nz-input formControlName="password" placeholder="Password" />
                </nz-input-group>
            </nz-form-control>
        </nz-form-item>
    </form>
</div>
<div class="login-button-submit">
    <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'">Connexion</button>
</div>