<nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
    <input type="text" (keyup)="filterLearner($event)" nz-input placeholder="Recherche" />
</nz-input-group>
<ng-template #suffixIconButton>
    <button nz-button nzType="primary" nzSearch><i nz-icon nzType="search"></i></button>
</ng-template>
<h1>Apprenants</h1>
<div class="learner-container">
    <nz-card style="width:300px;" [nzCover]="coverTemplate" [nzActions]="[actionDelete, actionEdit]"
        *ngFor="let learner of learners">
        <nz-card-meta nzTitle="#{{learner?.learnerId }} {{learner.learnerFirstname}} {{learner.learnerName}} "
            nzDescription="{{learner.learnerSession}}" [nzAvatar]="avatarTemplate">
        </nz-card-meta>
    </nz-card>
    <ng-template #avatarTemplate>
        <nz-avatar nzIcon="user" style="background-color:#87d068;"></nz-avatar>
    </ng-template>
    <ng-template #coverTemplate>
        <img alt="example" src="assets/img/Apprenantes.jpg" />
    </ng-template>
    <ng-template #actionDelete>
        <i nz-icon nzType="delete"></i>
    </ng-template>
    <ng-template #actionEdit>
        <a routerLink="/learner-edit/{{learner?.learnerId}}">
            <i nz-icon nzType="edit"></i>
        </a>

    </ng-template>

</div>
<button class="button-add" nz-button nzType="primary" nzShape="circle"><i nz-icon nzType="appstore-add"
        nzTheme="outline"><a class="button-add" routerLink="/learner-edit"></a></i></button>