.learner-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25em, 1fr));
  justify-items: center;
  row-gap: 2em;
}

:host ::ng-deep .ant-btn-primary {
  background: linear-gradient(90deg, #e22a6f 0%, #fe6666 100%), #222222;
  border-color: palevioletred;
}

.button-add {
  position: absolute;
}
