<h1>{{ editMode ? 'Editer un ' : 'Ajouter un '}} programmes</h1>
<div class="gestion-formation-form-container">
    <form nz-form [formGroup]="validateForm" class="gestion-formation-form">
        <nz-form-item>
            <nz-form-control nzErrorTip="S'il vous plait veuillez entrer un nom valide!">
                <nz-input-group>
                    <input type="text" nz-input formControlName="programTitle" placeholder="Nom" />
                </nz-input-group>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-control nzErrorTip="S'il vous plait veuillez entrer une description valide!">
                <nz-input-group>
                    <textarea rows="4" nz-input formControlName="programDescription"
                        placeholder="Description"></textarea>
                </nz-input-group>
            </nz-form-control>
        </nz-form-item>
    </form>
</div>
<div class="gestion-formation-button-submit">
    <button nz-button class="gestion-formation-form-button gestion-formation-form-margin" [nzType]="'primary'"
        (click)="submitForm()">Soumettre</button>
</div>