<h1>{{ editMode ? 'Editer un ' : 'Ajouter un '}} Apprenant</h1>
<div class="gestion-formation-form-container">
    <form nz-form [formGroup]="validateForm" class="gestion-formation-form">
        <nz-form-item>
            <nz-form-control nzErrorTip="S'il vous plait veuillez entrer un nom valide!">
                <nz-input-group>
                    <input type="text" nz-input formControlName="learnerName" placeholder="Nom" />
                </nz-input-group>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-control nzErrorTip="S'il vous plait veuillez entrer un Prénom valide!">
                <nz-input-group>
                    <input type="text" nz-input formControlName="learnerFirstname" placeholder="Prénom" />
                </nz-input-group>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-control nzErrorTip="S'il vous plait veuillez entrer un nom valide!">
                <nz-select formControlName="sessionTitle" nzPlaceHolder="Sessions">
                    <div *ngFor="let session of sessions">
                        <nz-option nzValue="{{session.sessionTitle}}"
                            nzLabel="{{session.sessionTitle}}"></nz-option>
                    </div>
                </nz-select>
            </nz-form-control>
        </nz-form-item>
    </form>
</div>
<div class=" gestion-formation-button-submit">
    <button nz-button class="gestion-formation-form-button gestion-formation-form-margin" [nzType]="'primary'"
        (click)="submitForm()">Soumettre</button>
</div>